.item {
    display: inline-block;
    margin: 2px;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 2.9s;
    background: url(https://www.skladchina.biz/data/avatars/l/4/4178.jpg?1421758811);
    background-size: 96px 96px;
    background-attachment: inherit;
    background-position: 66% 37%;
    z-index: 1;
    width: 96px;
    height: 96px;
}

.tableWithImages {
    /*width: 400px;*/
    float: left;
    margin-left: 30px;
    position: absolute;
    top: 35%;
    left: 35%;

}
img{
    display:none;
}

img.open{
    display: block;
    z-index: 2;
}
.hide{
    background-color: red;
    opacity: 0;
    pointer-events: none;

}
body{
    background-color: linen;
}
.container{
    margin-top: 40px;
    position: relative;
}
.main{

    position: relative;
    width: 100%;
    height: auto;
}
.sideBar{
    float:left;
    width:315px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/41CwYykVhEL._SY355_.jpg");
    height: 360px;
    position: relative;
    margin-left: 30px;
}
#startGame{
    background-color: blue;
    position: absolute;
    left:240px;
    border-radius: 30px;
    border: none;
    padding: 10px;
}
#restartGame{
    background-color: chartreuse;
    position: absolute;
    left:240px;
    border-radius: 30px;
    border: none;
    padding: 10px;
    display: none;
}
.modalIsWin{
    position: absolute;
    top:50%;
    left: 30%;
    display: none;
}
.imageModal{
    background-image: url('http://www.mama-znaet.com/sites/default/files/kevin1.jpg');
    background-size: 500px 400px;
    width: 396px;
    height: 361px;
    position: relative;
}
.textModal{
    position: absolute;
    top:-14%;
    left: 14%;
}
.textModal p{
    font-size:40px;
    font-weight: bolder;
    color: crimson;
    padding: 0;
}
.buttonModal{
    position: absolute;
    top:62%;
    left:67%;
    z-index: 10;
}
.buttonModal button{
    border-radius: 50%;
    background-color: black;
    color:darkgray;
    font-size: 26px;

}

